.advantages {
  margin: 45px auto;

    &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
  }

  &__round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;

    width: 113px;
    height: 113px;

    background-color: $main-color;
    border-radius: 100%;
  }

  &__descr {
    width: 343px;
  }

  &__subtitle {
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;

    color: $main-color;
  }

  &__text {
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;

    color: #202020;
  }
}
