footer {
  margin-top: 13px;
  padding: 13px 0 11px;
}

.footer__divider {
  width: 300px;
  height: 4px;
  margin: 0 auto;

  background-color: $main-color;
}

.footer__wrapper {
  padding-top: 32px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  a {
    text-decoration: none;
  }

  .scale {
    width: 33%;
    &:nth-child(3) {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.footer__social {
  width: 160px;
  display: flex;
  justify-content: space-between;

  .item {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 4px;

    width: 32px;
    height: 32px;
    border-radius: 100%;

    background-color: #070716;
    i {
      color: #fff;
    }
  }
}

.footer__links {
  margin: 0 auto;

  width: 390px;

  .main {
    padding: 0 10px;

    display: flex;
    justify-content: space-between;

    a {
      font-size: 15px;
      font-weight: 300;
      text-transform: uppercase;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .sub {
    margin-top: 10px;

    display: flex;
    justify-content: space-between;

    a {
      font-size: 11px;
      font-weight: 300;
      text-transform: uppercase;
      text-decoration: none;

      color: #999999;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .lang {
    margin: 19px auto 11px;

    display: block;

    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;

    color: $main-color;

    &:hover {
      text-decoration: none;

      color: $second-color;
    }
  }
}

.footer__mobile {
  a {
    text-decoration: none;
  }
}
