@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .menu {
    &__item {
      padding-right: 20px;
    }
    &__link {
      font-size: 13px;
    }
  }

  .subheader {
    &__phone a {
      font-size: 18px;
    }
  }

  .promo {
    &__header {
      font-size: 50px;
    }
    &__subheader {
      font-size: 30px;
    }
  }

  .advantages {
    &__item {
      align-items: flex-start;
    }
    &__descr {
      width: 300px;
    }
  }

  .mobile {
    &__item {
      width: 290px;
    }
  }

  .footer {
    &__links {
      width: 100%;

      .main {
        a {
          font-size: 14px;
        }
      }

      .sub {
        a {
          text-align: center;
          font-size: 10px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .menu {
    &__item {
      padding-right: 8px;
    }
    &__link {
      font-size: 11px;
    }
  }

  .xs-visible {
    display: none;
  }

  .subheader {
    &__official {
      font-size: 11px;
    }
    &__call {
      font-size: 11px;
    }
    &__phone {
      font-size: 18px;
    }
    &__btn {
      margin-top: 21px;

      height: 40px;
      width: 100%;
      font-size: 11px;
    }
  }

  .promo {
    &__header {
      font-size: 40px;
    }
    &__subheader {
      font-size: 28px;
    }
  }

  .advantages {
    &__item {
      flex-direction: column;
      align-items: center;
    }

    &__round {
      margin-right: 0;
    }

    &__descr {
      margin-top: 20px;

      width: 300px;
    }
  }

  .mobile {
    &__item {
      width: 230px;
    }

    &__item_subtitle {
      font-size: 18px;
    }
  }

  .choice {
    min-height: 800px;
    &__img {
      width: 100%;
    }
  }

  .cities {
    min-height: 800px;

    &__bg {
      background: url(../img/world_bg.jpg) center (center / cover) no-repeat;
      height: 100%;
    }
  }

  .footer {
    &__links {
      width: 70%;
    }

    &__wrapper {
      flex-wrap: wrap;
    }

    &__wrapper {
      .scale {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        width: 100%;

        &:nth-child(1) {
          width: 100%;
        }

        &:nth-child(3) {
          width: 100%;
          justify-content: center;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 700px;
  }

  .title {
    margin-top: 25px;
  }

  .menu {
    padding: 20px 15px;

    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    top: 0;
    left: -100%;

    height: 100vh;
    width: 50%;

    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.6s all;

    &_active {
      left: 0;
    }

    &__item {
      margin: 10px 0;
      padding-right: 0;
      border: none;
    }

    &__link {
      font-size: 20px;
    }
  }

  .xs-hidden {
    display: none;
  }

  .xs-visible {
    display: block;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 12px;

    span {
      display: block;
      height: 2px;
      width: 100%;
      background-color: #fff;
      margin-bottom: 4px;
      transition: 0.5s all;
    }

    &_active {
      span {
        margin-bottom: -2px;
        &:nth-child(1) {
          transform: translateY(3px) rotate(-45deg);
        }

        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: translateY(3px) rotate(45deg);
        }
      }
    }
  }

  .subheader {
    .row {
      justify-content: space-evenly;
    }
    &__phone {
      display: block;
      margin-top: 10px;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;

      color: #ffff;
    }

    &__btn {
      margin: 10px auto;

      display: block;

      width: 160px;
      height: 30px;

      line-height: 24px;
    }
  }

  .choice {
    padding-bottom: 65px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }

  .title {
    margin-top: 15px;

    font-size: 16px;
    line-height: 16px;
  }

  header {
    height: 30px;
  }

  nav {
    height: 30px;
  }

  .subheader {
    top: 30px;
    height: 60px;

    &__official {
      display: none;
    }

    &__logo {
      margin-top: 16px;
    }

    &__phone {
      margin-top: 11px;

      font-size: 12px;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
    }

    &__btn {
      width: 110px;
      height: 22px;

      font-size: 10px;
      margin-top: 6px;
      &:hover {
        background-image: linear-gradient(to top, $main-color 0%, #4ce2ff 100%);
      }
    }
  }

  .promo {
    min-height: 400px;
    padding: 93px 0 35px 0;

    &__header {
      padding: 0 24px;

      font-size: 30px;
      line-height: 35px;
    }

    &__subheader {
      margin-top: 33px;
      padding: 0 10px;

      font-size: 20px;
      line-height: 30px;
    }

    &__descr {
      display: none;
    }

    &__btn {
      margin-top: 72px;

      width: 210px;
      height: 50px;

      &:hover {
        background-image: linear-gradient(to top, $main-color 0%, #4ce2ff 100%);
      }
    }
  }

  .menu {
    width: 85%;

    &__item {
      padding: 5px 0;

      width: 100%;
      text-align: center;
    }

    &__link {
      display: block;
    }
  }

  .advantages {
    padding: 22px 0 36px 0;

    &__item {
      margin-top: 26px;
    }

    &__round {
      width: 100px;
      height: 100px;
    }

    &__descr {
      margin-top: 27px;

      width: 100%;
    }

    &__subtitle {
      font-size: 16px;
    }
  }

  .mobile {
    padding: 20px 0 40px 0;

    .row {
      margin-top: 30px;
    }

    &__item {
      padding: 81px 40px 0 40px;

      height: 254px;

      &__subtitle {
        font-size: 18px;
        line-height: 31px;
      }

      &__plus {
        bottom: 28px;

        &:hover {
          &:before,
          &:after {
            background-color: $main-color;
          }
        }
      }
    }
  }

  .choice {
    padding: 25px 0 33px 0;
    min-height: 390px;

    background: #000;

    .black {
      display: none;
    }

    &__img {
      margin-top: 35px;
    }

    &__text {
      margin-top: 23px;

      font-size: 17px;
      font-weight: 300;
      line-height: 24px;

      color: #ffff;
    }
  }

  .hidden-320 {
    display: none;
  }

  .require {
    padding: 25px 0 30px 0;

    &__block {
      margin: 30px 0 0 0;
    }

    &__title {
      font-size: 16px;
    }

    &__list {
      margin-top: 5px;
      padding-left: 30px;

      li {
        margin-bottom: 5px;

        font-size: 14px;
        line-height: 20px;
      }
    }

    &__descr {
      margin-top: 15px;

      font-size: 14px;
    }
  }

  .cities {
    min-height: 400px;

    .container {
      padding: 24px 0 30px 0;
    }

    &__look {
      margin: 455px auto;
      bottom: 30px;

      display: block;
      width: 200px;

      line-height: 18px;
    }
  }

  footer {
    padding: 25px 0 20px 0;
    .footer {
      &__divider {
        width: 253px;
      }

      &__wrapper {
        padding-top: 22px;

        .scale {
          margin-bottom: 20px;
          &:nth-child(1) {
            order: 2;
          }
          &:nth-child(2) {
            order: 1;
          }
          &:nth-child(3) {
            order: 3;
          }
        }
      }

      &__links {
        width: 290px;
        .main {
          padding: 0;

          font-size: 14px;
        }

        .sub {
          flex-wrap: wrap;
          justify-content: center;
          line-height: 20px;
          a {
            margin: 0 7px;
          }
        }

        .lang {
          margin-top: 10px;
        }
      }
    }
  }
}
