.require {
  padding: 45px 0 85px 0;

  &__title {
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;

    color: $main-color;
  }

  &__block {
    margin: 33px 0;

    &_nmb {
      margin-bottom: 0px;
    }
  }

  &__list {
    padding-left: 50px;
    margin-top: 22px;

    list-style-type: none;

    li {
      position: relative;
      margin-bottom: 10px;

      font-size: 17px;
      font-weight: 300;
      line-height: 24px;

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: -32px;
        top: 3px;

        width: 21px;
        height: 20px;

        background: url("../icons/check_blue.svg") center (center / cover) no-repeat;
      }
    }
  }

  &__descr {
    margin-top: 25px;

    font-size: 17px;
    font-weight: 300;
    line-height: 24px;

    color: $main-color;
  }

  .warning {
    .require__title {
      color: $second-color;
    }
    .require__list {
      li {
        &:before {
          background: url("../icons/check_red.svg") center (center / cover) no-repeat;
        }
      }
    }
  }
}
